body {
	background-color : #cff5fa;
	color            : #25802d;
	margin           : 0;
	padding          : 0;
}

h1 {
	font-family : Arial, sans-serif;
}

#koptekst {
	color     : darkred;
	font-size : 24px;
}

.artikelTekst {
	font-family : Arial, sans-serif;
	color       : blue;
}

.floatDiv {
	float   : left;
	width   : 250px;
	border  : 1px solid black;
	padding : 10px;
}

.floatDiv img {
	max-width : 100%;
}

.rood {
	color  : red;
	border : 2px solid crimson;
}

.inleiding {
	font-variant : small-caps;
	font-size    : larger;
	color        : blue;
}

.kern {
	font-family : Arial, sans-serif;
}

ul li {
	float           : left;
	list-style-type : none;
}

#navMenu li  a {
	color           : #f544ea;
	font-size       : 28px;
	text-decoration : none;
}

.clear {
	clear: both;
}
