<h2>Content</h2>
<img src="../img/kitten.jpg" width="200" align="left"/>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ducimus eligendi eveniet harum
ipsa magni, maiores nostrum optio pariatur provident quis sunt velit! Esse facere mollitia nam nihil
officiis voluptatibus?
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut minus odit. Consequuntur
    dolorum, facilis officiis perspiciatis tempora ullam veritatis! Aperiam beatae modi mollitia
    quisquam vel! Ducimus fugit quae sapiente.</p>
            