<nav style="background-color: #d8eefc">
    <h3>menu</h3>
    <ul class="list-group">
        <li class="list-group-item"><a id="linkHome" href="#">Home</a></li>
        <li class="list-group-item"><a id="linkContact" href="#">Contact</a></li>
        <li class="list-group-item"><a id="linkOverOns" href="#">Over Ons</a></li>
        <li class="list-group-item"><a id="linkProducten" href="#">Producten</a></li>
    </ul>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam dolorem ea est eum, eveniet hic illo incidunt ipsa laudantium maxime nobis odit porro quaerat quas ullam unde voluptates. Velit.
</nav>